/** @format */
@font-face {
  font-family: "BatmanForver";
  src: url("./assets/fonts/batmfa__.ttf");
}
.mainContainer {
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  text-align: center;
}
.boxContainer {
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  background: black;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.VishwapreneurName {
  font-family: "BatmanForver";
  color: white;
}
.SuccessText {
  color: white;
}

.mainContainer2,
.boxContainer2,
.VishwapreneurName2,
.SuccessText2,
.InfoContainer2 {
  display: none;
  color:black;
}

@media screen and (max-width: 860px) {
  .boxContainer2,
  .VishwapreneurName2,
  .SuccessText2,
  .InfoContainer2 {
    display: grid;
  }

  .mainContainer2{
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
  }

  .mainContainer,
  .boxContainer,
  .VishwapreneurName,
  .SuccessText,
  .InfoContainer {
    display: none;
  }
  .boxContainer2 {
    border-radius: 20px;
    padding: 10px;
    background: black;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .VishwapreneurName2 {
    font-family: "BatmanForver";
    font-size: 18px;
    color:white;
  }
  .SuccessText2 {
    font-size: 18px;
    color: white;
  }
  .InfoContainer2 {
    font-size: 12px;
    color:black;
  }
}
