/** @format */
@font-face {
  font-family: "BatmanForver";
  src: url("./assets/fonts/batmfa__.ttf");
}
.mainContainer{
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  text-align: center;
  /* background-image:linear-gradient(rgba(67,67,67,1) ,rgba(0,0,0,1)); */
  background-color: white;
  background-repeat: no-repeat; 
  background-size: cover;
}
.InfoContainer{
  color: black;
}
.boxContainer {
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  /* background: rgba(0, 0, 0, 1);  */
  background: radial-gradient(#130F40 50%, #010102);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9); */
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* box-shadow: 20px 20px 60px black, -20px -20px 60px black; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.VishwapreneurName {
  font-family: "BatmanForver";
  color: white;
  text-align: center;
}
.SuccessText {
  color: #ffab0f;
  text-align: center;
}
.h2{
  /* color: white; */
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* padding-left: 30px; */
  text-align: center;
  font-family: 'BatmanForeverAlternate';
}
h5{
  font-family: 'Poppins',sans-serif;
  text-align: center;
  line-height: 20px;
  font-weight: 300;
}
.rocket img{
  border-radius: 20px;
  height: 60vh;
}
.mainContainer2,
.boxContainer2,
.VishwapreneurName2,
.SuccessText2,
.InfoContainer2 {
  display: none;
  color:black;
}

@media screen and (max-width: 860px) {
  .boxContainer2,
  .VishwapreneurName2,
  .SuccessText2,
  .InfoContainer2 {
    display: grid;
    justify-content: center;
    align-items: center;
    
  }

  .mainContainer2{
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    width: 70vw;
    margin-left: 15vw;
    
  }

  .mainContainer,
  .boxContainer,
  .VishwapreneurName,
  .SuccessText,
  .InfoContainer {
    display: none;
    
  }
  .boxContainer2 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 35px;
    /* background: black; */
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    background: radial-gradient(#130F40 50%, #010102);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .VishwapreneurName2 {
    font-family: "BatmanForver";
    font-size: 18px;
    color:white;
    text-align: center;
    margin-bottom: 30px;
  }
  .SuccessText2 {
    font-size: 18px;
    color: #ffab0f;
    text-align: center;
  }
  .InfoContainer2 {
    font-size: 12px;
    color:black;
  }
  .InfoContainer2 h3{
    margin: 10px;
  }
  .rocket2 img{
  border-radius: 20px;
  height: 20vh;
  
  }
  .rocket2{
    /* padding-left: 15vw; */
  }
}