/** @format */
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer > h1 {
  align-items: center;
}
.privacy{
  background-color: black;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.h2-pri{
  color: #ffab0f;
  font-size: 25px;
  /* margin-top: 50px; */
  margin-bottom: 35px;
  /* padding-left: 30px; */
  text-align: left;
  font-family: 'BatmanForeverAlternate';
}
