/** @format */

.register {
  /* max-width: 978px; */
  /* max-height: fit-content; */
  width: 90vw;
  display: flex;
  height: 105%;
  /* border: 1px solid #e9ecef; */

  border-radius: 25px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: rgba(0,0,0,0.8);
}
h2{
  color: #ffab0f;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-left: 30px;
  
  -align: left;
  font-family: 'BatmanForeverAlternate';
}

.MainContainer {
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  padding-top: 70px;
  padding-bottom: 50px;
  height: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:linear-gradient(rgba(67,67,67,0.5) ,rgba(0,0,0,0.5)), url("https://res.cloudinary.com/da5mmxnn3/image/upload/v1673531983/Vishwapreneur/img-parallax-01_xmaqjz.png");
  background-size: cover;
}
.register span {
  color: black;
  /* width: 1rem; */
}
.form-cnt span{
  color: white;
}
.pd-r{
  padding-right: 10px;
}
#form {
  max-width: 46rem;
  width: 100vw;
  margin: 1rem 1rem;
}

span {
  width: 1rem;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#form > input:focus {
  outline: none;
}

#form > .btn {
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}
.privacypolicy {
  line-height: 1px;
  color: white;
  display: flex;
  flex-direction: column;
}
.privacypolicy a{
  /* padding-bottom: 15px !important; */
  color: #ffab0f;
} 

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 4em 0;
}
.col-1 {
  margin: auto;
  /* padding: 3em 0; */
  background-image: url("https://res.cloudinary.com/da5mmxnn3/image/upload/v1648816348/Vishwapreneur/3Artboard_1-100_1_1_kh79sl.jpg");
}

.register .col-2 img {
  width: 400px;
  /* height: 100%; */
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* display: none; */
}
.col-2{
  
  font-family: 'BatmanForeverAlternate';
  color: white;
  width: 32rem;
  font-size: 30px;
  border-right: 2px solid #ffab0f ;
  margin: 50px 0;
}
.form-cnt{
  width: 53vw;
}
.row-1,.row-2,.row-3{
  display: flex;
  margin: 0px 10px;
}
.row-2{
  width: 100%;
}
/* .row-2 .emailTab TextField{
  width:100%;
} */
/* @media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
} */

@font-face {
  font-family: 'BatmanForeverAlternate';
  src: local('BatmanForeverAlternate'), url(./assets/fonts/batmfa__.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.buttons {
  display: flex;
  padding-left: 14rem;
  /* padding-bottom: 2rem; */
  padding-top: 2rem;
}

.buttons .reset1 {
  border: 1px solid #ffab0f;
  margin-right: 1rem;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  padding-top: 0.3rem;
}

.buttons .submit {
  border: 1px solid #ffab0f;
  margin-right: 1rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.buttons .submit:hover {
    background-color: #e0970f;
    border-color: #e0970f;
}
.submit{
  background-color: #ffab0f;
}

.buttons .reset1:hover {
  background-color: #ffab0f;
}

.buttons .reset1 button {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffab0f;
}

.buttons .submit button {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.buttons .reset1 button:hover {
  color: white;
}

.buttons .submit button:hover {
  color: white;
}

@media (min-width:350px) and (max-width: 768px) {
  .MainContainer {
    background-image: none;
    flex-direction: column;
    background-size: 200vh;
    height: 200vh;
    width: 101%;
    background:radial-gradient( circle at 24.1% 68.8%, rgb(59, 20, 122) 0%, rgb(26, 1, 46) 99.4% );;
  }


  .col-2 {
    width: 4rem;
    height: 8rem;
    border: none;
    /* font-size: 1.7rem; */
    padding-left: 0.4rem;
  }

  .col-2 img {
    margin-left: -0.8rem;
  }

  .col-2 p {
    font-size: 1.7rem;
    padding-left: 0.6rem;
  }

  #logo {
    height: 20rem;
    width: 20rem;
    padding-left: 2.5rem;
    padding-top: 6.3rem;
  }

  #title {
    margin-top: -0.3rem;
    padding-left:40%;
    font-size: 80%; 
  }

  .title-cnt {
    text-align: center;
  }

  .form-cnt {
    padding-top: 18rem;
    width: 85vw;
  }

  .form-cnt h2 {
    text-align: center;
    padding-left: 2.5rem;
    font-size: 1.3rem;
    padding-bottom: 2rem;
  }

  .register {
    width: 100%;
    height: 34rem;
    flex-direction: column;
    /* position: fixed; */
    margin-top: -180vh;
    border-radius: 0;
    background-color: radial-gradient( circle at 24.1% 68.8%, rgb(59, 20, 122) 0%, rgb(26, 1, 46) 99.4% );;
  }

  .flex {
    flex-direction: column;
  }

  .row-1 {
    flex-direction: column;
    width: 93%;
  }

  .row-2 {
    flex-direction: column;
    width: 93%;
  }

  .row-3 {
    flex-direction: column;
    width: 93%;
  }
  /* .row-2 .emailTab{
    width:10%
  } */

  .privacypolicy {
    width: 107%;
    /* padding-left: 0; */
    align-items: center;
  }

  #contactUs {
    padding-top: 2rem;
    width: 25rem;
  }

  #mail {
    padding-top: 0rem;
  }

  #phone {
    padding-left: 1rem;
  }

  #form {
    width: 96vw;
  }  

  .buttons {
    margin-top: 2rem;
    padding-left: 20%;
    align-items: center;
    flex-direction: column-reverse;
  }

  .reset1 {
    padding-bottom: 1%;
    width: 80%;
  }

  .submit {
    padding-bottom: 1%;
    width: 87%;
    margin-bottom: 1.5rem;
  }
}